.remark-slide-content p, ul, ol, li {
  font-size: 2rem;
}

.remark-slide-content {
  background-color: #fbf9f4;
}

body {
  color: #fbf9f4;
}

h1 {
  font-weight: normal;
  color: #f30000;
}

h2, h3 {
  font-weight: normal;
  color: #e13d3d;
}

.callout { 
  color: #E13D3D; 
  font-family: 'Arapey', serif;
  font-style: italic;
  font-size: 2.5rem;
}

/* link color */
a, a > code {
  color: #0392bb;
}

/* unvisited link */
a:link {
    color: #f30000;
}

/* visited link */
a:visited {
    color: #f30000;
}

/* mouse over link */
a:hover {
  color: #E13D3D;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #E13D3D;
  text-decoration: underline;
}

.remark-code {
  color: #E13D3D;
}

.remark-inline-code { 
  color: #E13D3D;
}

.remark-code-line-highlighted { 
  background-color: #84d6d3; 
}

.inverse {
  background-color: #282a36;
  color: #FFFFFF;
  text-shadow: 0 0;
}

.inverse h1 {
  text-shadow: 0 0 20px #333;
}

.inverse .remark-code {
  color: #3498CC;
}

.inverse a { 
  color: #e13d3d;
  text-decoration: none;
}

.inverse a:hover,
.inverse a:focus,
.inverse a:active { 
  color: white;
  text-decoration: underline;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
  font-size: 18px;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }

.inverse .remark-inline-code { 
  color: white;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide {
  overflow-wrap: break-word;
}

/* four-column layout */

.column {
  float: left;
  width: 25%;
  text-align: center;
}

/* fiver-column layout */

.column-5 {
  float: left;
  width: 20%;
  text-align: center;
}

div.column h2{
  font-size: 1.5em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  color: #f30000;
}